<section>
  
  <div style="flex-direction: row;justify-content: space-between ">
    <a href={{toProducts}}> <button> View Products </button></a>
    <a href={{toCarts}}> <button> View Carts </button></a>
    <a href={{toLogin}}> <button> Login </button></a>
    <a href={{toRegister}}> <button> Register </button></a>
    <a href={{toProfile}}> <button> View Profile </button></a>
    
  </div>
</section>