<section>
  
  <nav>
    <div class="infoContainer">
      <div class="linksContainer">
        
        <a href={{toLogin}}> <button> Login </button></a>
        <a href={{toRegister}}> <button> Register </button></a>
      </div>
    </div>
    <div class="infoContainer">
      <div class="linksContainer">
        <a href={{toMockingProducts}}> <button> Mock This! </button></a>
        <h6>Users:</h6>
        <a href={{toProducts}}> <button> View Products </button></a>
        <a href={{toChat}}> <button> View Chat </button></a>
        <a href={{toProfile}}> <button> View Safe DTO Profile </button></a>
        <a href={{toCarts}}> <button> View Carts </button></a>
        <h6>Admin:</h6>
        <a href={{toCurrent}}> <button> View Current Session </button></a>
        <a href={{toAdmin}}> <button> Admin Panel</button></a>

      </div>
    </div>
    
    </div>
  </nav>
</section>