<h2>PRODUCTS VIEW</h2>
    <a href='http://localhost:8080/'><button> HOME </button></a>
        <h3>WELCOME {{currentUser.fullname}} {{currentUser.cartId}}. ROLE: {{currentUser.role}}</h3>
            <button style="width: 120px" id="logout"> LOGOUT </button>
                to your cart: <a href="http://localhost:8080/carts/{{currentUser.cartId}}"></a>
                <div class="product-container">
                    {{#each products}}
                        <div class="product-card">
                            <h3 class="product-title">Title: {{itle}}</h3>
                            <p class="product-description"> Description: {{description}}</p>
                            <h4 class="product-price"> Price: {{price}}</h4>
                            <h4>Stock_ {{stock}}</h4>
                            <h4> Owner: {{owner}}</h4>
                            <div class="product-container">
                                <button id="addCart" style="width: 120px" type="submit" data-pid="{{_id}}" data-uid="{{../currentUser._id}}" data-cid="{{../currentUser.cartId}}"> Add to cart</button>
                            </div>
                         </div>
                    {{/each}}
                </div>
                <div style="flex-direction: row; justify-content: space-around; background-color: #58895">
                    {{#if hasPrevPage}}
                     <a href="http://localhost:8080/products/?limit={{limit}}&sort={{sort}}&page={{prevPage}}{{#if category}}&category={{category}}{{/if}}"><button>Next Page</button></a>
                     {{/if}}
                     {{#if hasNextPage}}
                    <a href="http://localhost:8080/products/?limit={{limit}}&sort={{sort}}&page={{nextPage}}{{#if category}}&category={{category}}{{/if}}"><button>Prev Page</button></a>
                     {{/if}}
                </div>
<script src="/js/logout.js"></script>
<script src="/js/addCart.js"></script>
