<section>
  <div>
    <h4>Las Gonzalez Tienda</h4>
    {{#if currentUser}}
      <div class="infoContainer">
        <h2>Bienvenidos a nuestra tienda {{currentUser.fullname}}, ROLE: {{currentUser.role}}</h2>
        <button style="width: 120px" id="logout">Logout </button>
      </div>
   
      <div class="cardsContainer">
        <div class="infoContainer">
          <h3>Start here mate'</h3>
          <div class="linksContainer">
            <a href={{toLogin}}> <button> Login </button></a>
            <a href={{toRegister}}> <button> Register </button></a>
          </div>
        </div>
      </div>
    {{/if}}
    
  </div>
  <nav>
    <div class="infoContainer">
      <div class="linksContainer">
        <h4>Cart Actions:</h4>
        <a href={{toCart}}> <button> View Your Cart </button></a>
      </div>
    </div>
    <div class="infoContainer">
      <div class="linksContainer">
        <h4>Users:</h4>
        <a href={{toProducts}}> <button> VIEW Products </button></a>
        <a href={{toChat}}> <button> VIEW Chat </button></a>
        <a href={{toProfile}}> <button> VIEW Safe DTO Profile </button></a>
        <h4>Admin:</h4>
        <a href={{toAdminCrud}}> <button> VIEW Admin Panel</button></a>
        <a href={{toCurrent}}> <button> VIEW Current Session </button></a>
        <a href={{toUsers}}> <button> GET All Users</button></a>
        <a href={{toCarts}}> <button> GET All Carts </button></a>
        <a href={{toTickets}}> <button> GET All Tickets </button></a>
        <a href={{toMockingProducts}}> <button> Mock This! </button></a>

      </div>
    </div>
    
  </nav>
</section>
<script src="/js/logout.js"></script>